@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    width: 100%;
    /* sem display flex*/
    justify-content: center;
    background: linear-gradient(#8a7f78, #DDD9CE);
    background-repeat: no repeat;
}
.imagem{
    display: flex;
    justify-content: center;
}
.imagem img{
    border-radius: 200px;
    margin-top: 30px;
}
.nome{
    margin-top: 10px;
    font-size: 32px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    color: #64574d;
    font-family: 'Poppins', sans-serif;
}
.redessociais{
  display: flex;
  justify-content: center;
  margin-top: 12px;
}
.icone{
     display: inline-block;
     width: 35px;
     height: 35px;
     border-radius: 30px;
     margin: 10px;
     overflow: hidden;
     transition: all 0,3s ease-out;
     cursor: pointer;
}
.icone i{
    display: inline-block;
     width: 35px;
     height: 35px;
     line-height: 35px;
     text-align: center;
    font-size: 22px;
    border-radius: 30px;
    cursor: pointer;
    background-color: rgb(163, 160, 157);
    color: rgba(232, 202, 179);
}
.icone span a{
  text-decoration: none;
  float: right;
  margin-right: 23px;
  font-weight: 100;
font-size: 17;
line-height: 35px;
}
.icone:hover{
    width: 125px;
    background-color: rgb(163, 160, 157);
    border-radius: 20px;
}
.texto{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 2rem;
    border-radius: 24px;
    font-size: 16px;
    margin-top: 35px;
    width: 500px;
    height: 150px;  
    color: rgba(238, 232, 227);
    background: rgb(163, 160, 157);
    box-shadow: 0 3px 3px rgba(0, 0, 0, .1);
    cursor: pointer;
   margin: auto;
   font-family: 'Poppins', sans-serif;
  }
  h1{
    display: flex;
    justify-content: center;
    margin-top: 45px;
    font-weight: 600;
    color: #7A695D;
    font-family: 'Poppins', sans-serif;
  }
.linguagem{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.linguagem img{
    display: flex;
    justify-content: center;
    border-radius: 200px;
    width: 250px;
    margin: 5px;
    background: rgb(163, 160, 157);
    color: rgba(232, 202, 179);
    box-shadow: 2px 2px 2px rgba(232, 202, 179)
  }
  .projetos{
    margin-top: 40px;
    flex-direction: column;
  }
  .item{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    width: 570px;
    height: 60px;
    margin-bottom: 7px;
    border-radius: 50px;
    border: 1px solid rgba(232, 202, 179);
    color:rgba(232, 202, 179);
    background: rgb(163, 160, 157);
    box-shadow: 0 5px 5px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
  }
  .item:hover{
    background: #8a7f78;
    transition: 0.2s;
  }
  .footer{
    font-size: 17px;
    display: flex;
    justify-content: center;
    padding: 50px;
    margin-top: 50px;
    color: #7A695D;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  }
  a{
    color:rgba(232, 202, 179);
    text-decoration: none;
  }
  .projetos2{
    margin-top: 60px;
    flex-direction: column;
  }
  .item2{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    width: 570px;
    height: 60px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 50px;
    border: 1px solid rgba(232, 202, 179);
    color:rgba(232, 202, 179);
    background: rgb(163, 160, 157);
    box-shadow: 0 5px 5px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
  }
  .texto2{
    display: flex;
    justify-content: justify;
    align-items: center;
    padding: 1.5rem 2rem;
    border-radius: 24px;
    font-size: 16px;
    margin-top: 35px;
    width: 500px;
    height: 150px;  
    color: rgba(238, 232, 227);
    background: rgb(163, 160, 157);
    box-shadow: 0 3px 3px rgba(0, 0, 0, .1);
    cursor: pointer;
   margin: auto;
   font-family: 'Poppins', sans-serif;
  }
  .texto3{
    display: flex;
    justify-content: justify;
    align-items: center;
    padding: 1.5rem 2rem;
    border-radius: 24px;
    font-size: 16px;
    margin-top: 35px;
    width: 500px;
    height: 150px;  
    color: rgba(238, 232, 227);
    background: rgb(163, 160, 157);
    box-shadow: 0 3px 3px rgba(0, 0, 0, .1);
    cursor: pointer;
   margin: auto;
   font-family: 'Poppins', sans-serif;
   float: right;
  }
  .texto4{
    display: flex;
    justify-content: justify;
    align-items: center;
    padding: 1.5rem 2rem;
    border-radius: 24px;
    font-size: 16px;
    margin-top: 35px;
    width: 500px;
    height: 200px;  
    color: rgba(238, 232, 227);
    background: rgb(163, 160, 157);
    box-shadow: 0 3px 3px rgba(0, 0, 0, .1);
    cursor: pointer;
   margin: auto;
   font-family: 'Poppins', sans-serif;
   float: left;
  }
.curriculo{
  float: left;
    padding: 0% 5%;
    position: relative;
    width: 40%;
}
.cardapio{
  float: left;
    padding: 0% 5%;
    position: relative;
    width: 40%;
}
.siteods{
  float: left;
    padding: 0% 5%;
    position: relative;
    width: 40%;
}
.coluna{
  float: left;
  padding: 0 5%;
  position: relative;
  width: 40%;
  
}